.filter {
    display: flex;
}

.input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 10px;
    width: 20rem;
}

.container-padding {
    padding: 1.92rem;
}

.light-gray {
    background-color: #eee;
}