.container-padding {
    padding: 1.2rem;
}

.white-background {
    background-color: white;
}

.grey-background {
    background-color: #eee;
}

.grid {
    display: grid;
    grid-template-columns: 10% 13% 9% 6% 6% 6% 6% 6% 12% 8%;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

.image {
    height: 70px;
    width: 100%;
    object-fit: cover;
}

.published,
.unverified {
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 2px;
    border-radius: 5px;
}

.orange-background {
    background-color: rgb(255, 151, 31);
    color: white;
}

.blue-background {
    background-color: rgb(59, 121, 255);
    color: white;
}

.center {
    text-align: center;
}

.cardstrip {
    border-bottom: 1px solid #eee;
    font-weight: 600;
}

.tag {
    font-weight: 600;
}

.select {
    padding: 5px 7px;
    border: 1px solid grey;
    border-radius: 5px;
}